<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroe | Babbage</title>
</head>
<body>

    <h1>Charles Babbage</h1>

    <img src="/img/babbage.jpg" alt="babbage">

    <p>Charles Babbage KH FRS (26 de diciembre de 1791 - 18 de octubre de 1871) fue un erudito inglés. Babbage, matemático, filósofo, inventor e ingeniero mecánico, originó el concepto de una computadora digital programable.

        Algunos consideran que Babbage es el "padre de la computadora". A Babbage se le atribuye la invención de la primera computadora mecánica, la Máquina Diferencial, que eventualmente condujo a diseños electrónicos más complejos, aunque todas las ideas esenciales de las computadoras modernas se encuentran en la Máquina Analítica de Babbage, programada utilizando un principio abiertamente tomado del telar Jacquard. Babbage tenía una amplia gama de intereses además de su trabajo en computadoras cubierto en su libro Economía de Manufacturas y Maquinaria. Su variado trabajo en otros campos lo ha llevado a ser descrito como "preeminente" entre los muchos eruditos de su siglo.
        
        Babbage, quien murió antes de la ingeniería completa y exitosa de muchos de sus diseños, incluidos su motor diferencial y su motor analítico, siguió siendo una figura destacada en la concepción de la informática. Partes de los mecanismos incompletos de Babbage se exhiben en el Museo de Ciencias de Londres. En 1991, se construyó un motor diferencial funcional a partir de los planos originales de Babbage. Construido con tolerancias alcanzables en el siglo XIX, el éxito del motor terminado indicó que la máquina de Babbage habría funcionado.</p>


    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
     </ul>
    
</body>
</html>