<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroe | Berners-lee</title>
</head>
<body>

    <h1>Tim Berners-lee</h1>

    <img src="/img/berners-lee.jpg" alt="berners-lee">

    <p>Sir Timothy John Berners-Lee OM KBE FRS FREng FRSA DFBCS (nacido el 8 de junio de 1955), también conocido como TimBL , es un informático inglés mejor conocido como el inventor de la World Wide Web . Es miembro de la cátedra de Ciencias de la Computación en la Universidad de Oxford y profesor en el Instituto Tecnológico de Massachusetts (MIT). Berners-Lee propuso un sistema de gestión de la información el 12 de marzo de 1989, luego implementó la primera comunicación exitosa entre unCliente y servidor de Protocolo de transferencia de hipertexto (HTTP) a través de Internet a mediados de noviembre.

    Berners-Lee es el director del World Wide Web Consortium (W3C), que supervisa el desarrollo continuo de la Web. Co-fundó (con su entonces futura esposa Rosemary Leith ) la World Wide Web Foundation . Es investigador sénior y titular de la cátedra de fundador de 3Com en el Laboratorio de Ciencias de la Computación e Inteligencia Artificial (CSAIL) del MIT. Es director de la Web Science Research Initiative (WSRI) y miembro del consejo asesor del MIT Center for Collective Intelligence . En 2011, fue nombrado miembro del consejo de administración de la Fundación Ford . Es fundador y presidente del Open Data Institute y actualmente es asesor de la red social MeWe .
        
    En 2004, Berners-Lee fue nombrado caballero por la reina Isabel II por su trabajo pionero.
        
    Diseñó e implementó el primer navegador web y servidor web, y ayudó a fomentar el posterior desarrollo explosivo de la web. Actualmente dirige el Consorcio W3, desarrollando herramientas y estándares para promover el potencial de la Web. En abril de 2009, fue elegido como Asociado Extranjero de la Academia Nacional de Ciencias .
        
    Fue incluido en la lista de la revista Time de las 100 personas más importantes del siglo XX y ha recibido otros elogios por su invento. Fue honrado como el "Inventor de la World Wide Web" durante la ceremonia de apertura de los Juegos Olímpicos de Verano de 2012 en la que apareció trabajando con una NeXT Computer antigua . Él tuiteó "Esto es para todos" que apareció en luces LED adheridas a las sillas de la audiencia. Recibió el Premio Turing 2016"por inventar la World Wide Web, el primer navegador web y los protocolos y algoritmos fundamentales que permiten escalar la Web".</p>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
     </ul>
    
</body>
</html>