<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes | Clarke</title>
</head>
<body>

    <h1>Joan Clarke</h1>

    <img src="/img/clarke.jpg" alt="clarke">

    <p>Joan Elisabeth Lowther Murray , MBE ( de soltera Clarke ; 24 de junio de 1917 - 4 de septiembre de 1996) fue una criptoanalista y numismática inglesa mejor conocida por su trabajo como descifradora de códigos en Bletchley Park durante la Segunda Guerra Mundial . Aunque personalmente no buscó ser el centro de atención, su papel en el proyecto Enigma que descifró las comunicaciones secretas de la Alemania nazi le valió premios y menciones, como el nombramiento como miembro de la Orden del Imperio Británico (MBE), en 1946.</p>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
     </ul>
    
</body>
</html>