<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes | Hamilton</title>
</head>
<body>

    <h1>Margaret Hamilton</h1>

    <img src="/img/hamilton.jpg" alt="hamilton">

    <p>Margaret Heafield Hamilton (nacida el 17 de agosto de 1936) es una científica informática , ingeniera de sistemas y propietaria de una empresa estadounidense. Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT , que desarrolló software de vuelo a bordo para el programa Apolo de la NASA . Más tarde fundó dos empresas de software: Higher Order Software en 1976 y Hamilton Technologies en 1986, ambas en Cambridge, Massachusetts .

    Hamilton ha publicado más de 130 artículos, actas e informes, unos sesenta proyectos y seis programas principales. Ella es una de las personas a las que se les atribuye haber acuñado el término " ingeniería de software ".
        
    El 22 de noviembre de 2016, Hamilton recibió la Medalla Presidencial de la Libertad de manos del presidente Barack Obama por su trabajo que condujo al desarrollo de software de vuelo a bordo para las misiones Apollo Moon de la NASA.</p>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
     </ul>
    
</body>
</html>