<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP HEROES</title>
</head>
<body>
    <h1 align="center">Heroes</h1>
    <ul>
       <li><a href="/">Home</a></li>
       <li><a href="/babbage">Babbage</a></li>
       <li><a href="/bernes-lee">Berners-lee</a></li>
       <li><a href="/clarke">Clarke</a></li>
       <li><a href="/hamilton">Hamilton</a></li>
       <li><a href="/hopper">Hopper</a></li>
       <li><a href="/lovelace">Lovelace</a></li>
       <li><a href="/turing">Turing</a></li>
    </ul>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quis quae autem repellendus fuga deleniti dicta nostrum cum quas iure id est possimus tempore laborum accusamus sunt officia ducimus aperiam.    </p>
</body>
</html>